body {
    background-color: #111111;
    color: #ffffff;
    font-family: Arial;
}

p {
    color: #00ffcc;
    font-size: 16px;
}

.intro {
    color: #ffcc00;
}

#welcome-section {
    color: #00ff88;
}
